In [6]:
import pandas as pd

In [7]:
xl = pd.ExcelFile('22 stocks_ESG.xlsx')

In [8]:
xl.sheet_names

['NVDA ESG',
 'Sheet2',
 'IPG',
 'CMI',
 'MRNA',
 'CRM',
 'EBAY',
 'WMB',
 'LVS',
 'CVS',
 'ADSK',
 'PEAK',
 'ADBE',
 'J US',
 'REGN',
 'LMT',
 'CI',
 'UNH',
 'RSG',
 'GILD',
 'YUM',
 'DOW',
 'SPGI']

In [9]:
d = {}
for asset in xl.sheet_names:
    d[asset] = ''

In [10]:
df = pd.read_excel('10_stocks_prices.xlsx', sheet_name='Asset_Return_Data')

In [11]:
df

,Dates,NEM US Equity,HAL US Equity,ABBV US Equity,AAPL US Equity,ABT US Equity
0,2016-09-13,39.02,41.11,63.34,26.988,40.64
1,2016-09-14,38.60,41.26,63.34,27.943,40.81
2,2016-09-15,39.20,41.77,63.35,28.893,41.12
3,2016-09-16,38.26,41.04,63.27,28.730,41.87
4,2016-09-19,38.43,41.28,62.91,28.395,41.68
...,...,...,...,...,...,...
1865,2024-02-12,33.56,34.53,173.07,187.150,112.53
1866,2024-02-13,32.04,34.06,173.29,185.040,111.34
1867,2024-02-14,32.12,34.20,174.42,184.150,112.06
1868,2024-02-15,33.08,35.34,176.59,183.860,113.64
1869,2024-02-16,33.43,35.31,177.49,182.310,114.01

In [12]:
list(df.columns)

['Dates',
 'NEM US Equity',
 'HAL US Equity',
 'ABBV US Equity',
 'AAPL US Equity',
 'ABT US Equity']

In [ ]:
df_esg = pd.read_excel('10_stocks_prices.xlsx', sheet_name = 'ESG_Ranks_most_recent', nrows=1)

In [ ]:
df_esg

In [ ]:
df_esg = df_esg[list(df.columns)[1:]]

In [ ]:
df_esg

### Write the data

In [ ]:
df.to_excel('asset_returns.xlsx')
df_esg.to_excel('asset_esg_returns.xlsx')