In [29]:
import pandas as pd

In [30]:
df = pd.read_excel('616 price data.xlsx', index_col=0)

In [31]:
df

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2014-01-02,36.933754,23.907925,99.924667,17.296654,34.181690,26.850000,NaN,31.369337,19.123333,67.879639,...,19.873646,64.282166,43.911213,20.875578,29.917576,44.408012,82.532112,53.180000,23.576159,30.057968
2014-01-03,37.400269,25.020357,102.783798,16.916718,34.392124,27.059999,NaN,31.705763,18.756666,68.105545,...,19.866432,64.127510,44.121799,21.015800,30.189079,44.685982,82.890045,53.580002,23.743145,29.770020
2014-01-06,37.216293,25.482304,101.800400,17.008968,33.136124,27.299999,NaN,32.124233,18.580000,67.386002,...,19.758064,64.224174,43.856281,21.191080,30.136526,44.650482,83.426872,53.400002,23.576159,29.704998
2014-01-07,37.748520,25.369171,103.056961,16.887325,33.201881,27.620001,NaN,31.878065,18.586666,68.205963,...,20.097597,65.132797,44.533817,21.366360,30.224121,45.277363,85.091141,53.950001,23.647726,29.816454
2014-01-08,38.366169,26.047947,102.255707,16.994270,33.116386,28.230000,NaN,32.165272,18.476667,68.733055,...,20.018131,64.920128,44.616199,21.173557,30.206596,45.259636,87.175903,53.910000,23.854462,29.482069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-22,147.449997,14.820000,85.760002,172.279999,178.449997,NaN,167.860001,110.570000,90.680000,337.500000,...,52.270000,113.489998,32.588768,16.779196,129.210007,136.229996,126.961258,291.440002,40.650002,168.899994
2024-03-25,145.559998,14.920000,84.250000,170.850006,178.529999,NaN,167.990005,110.010002,90.989998,333.820007,...,52.480000,114.650002,32.678326,17.252405,127.760002,134.619995,127.669930,297.940002,41.020000,167.809998
2024-03-26,144.410004,14.920000,84.250000,169.710007,179.190002,NaN,167.389999,111.500000,90.589996,336.390015,...,51.799999,113.790001,32.340000,17.420000,127.900002,134.800003,127.630005,291.380005,41.189999,165.669998
2024-03-27,147.369995,15.300000,85.320000,173.309998,180.350006,NaN,166.410004,113.480003,91.480003,340.940002,...,53.380001,114.970001,33.310001,17.750000,129.380005,137.320007,132.610001,299.160004,43.150002,168.509995
2024-03-28,145.509995,15.350000,85.089996,171.479996,182.100006,NaN,164.960007,113.660004,92.440002,346.609985,...,53.750000,116.239998,33.189999,17.900000,129.240005,138.649994,131.979996,301.440002,43.400002,169.210007

In [32]:
cols = list( df.columns )

In [33]:
cols

['A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABMD',
 'ABNB',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'ADT',
 'AEE',
 'AEP',
 'AES',
 'AET',
 'AFL',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'ALTR',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMG',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'AN',
 'ANDV',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATI',
 'ATO',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXON',
 'AXP',
 'AYI',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEAM',
 'BEN',
 'BG',
 'BHF',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLDR',
 'BLK',
 'BMS',
 'BMY',
 'BR',
 'BRO',
 'BSX',
 'BWA',
 'BX',
 'BXP',
 'C',
 'CA',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCE',
 'CCEP',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHK',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLF',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'CNX',
 'COF',
 'COL',
 'COO',
 'COP',
 'COR',
 'COST',
 'COTY',
 'COV',
 'CPB',
 'CPRI',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CSCO',
 'CSGP',
 'CSRA',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DLR',
 'DLTR',
 'DNB',
 'DO',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EG',
 'EIX',
 'EL',
 'ELV',
 'EMC',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESRX',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVHC',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCPT',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FI',
 'FICO',
 'FIS',
 'FISV',
 'FITB',
 'FL',
 'FLR',
 'FLS',
 'FLT',
 'FMC',
 'FOSL',
 'FOX',
 'FOXA',
 'FRT',
 'FSLR',
 'FTI',
 'FTNT',
 'FTV',
 'GAS',
 'GD',
 'GE',
 'GEHC',
 'GEN',
 'GHC',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GME',
 'GNRC',
 'GNW',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HAR',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HCP',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOG',
 'HOLX',
 'HON',
 'HOT',
 'HP',
 'HPE',
 'HPQ',
 'HRB',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUBB',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'IGT',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IPGP',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JBL',
 'JCI',
 'JEF',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'JWN',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KSS',
 'KVUE',
 'L',
 'LDOS',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LIFE',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LULU',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAR',
 'MAS',
 'MAT',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSCI',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'MUR',
 'NAVI',
 'NBR',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NE',
 'NEE',
 'NEM',
 'NFLX',
 'NFX',
 'NI',
 'NKE',
 'NKTR',
 'NOC',
 'NOV',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OI',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PANW',
 'PARA',
 'PAYC',
 'PAYX',
 'PBI',
 'PCAR',
 'PCG',
 'PCL',
 'PCP',
 'PDCO',
 'PEAK',
 'PEG',
 'PENN',
 'PEP',
 'PETM',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PLD',
 'PLL',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PODD',
 'POM',
 'POOL',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PVH',
 'PWR',
 'PX',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'R',
 'RCL',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RIG',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RRC',
 'RSG',
 'RTX',
 'RVTY',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCG',
 'SCHW',
 'SE',
 'SEDG',
 'SEE',
 'SHW',
 'SIG',
 'SJM',
 'SLB',
 'SLG',
 'SLM',
 'SNA',
 'SNI',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRCL',
 'SRE',
 'STE',
 'STI',
 'STLD',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SWN',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDC',
 'TDG',
 'TDY',
 'TECH',
 'TEG',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGNA',
 'TGT',
 'THC',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRIP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TWX',
 'TXN',
 'TXT',
 'TYL',
 'UA',
 'UAA',
 'UAL',
 'UBER',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URBN',
 'URI',
 'USB',
 'V',
 'VFC',
 'VICI',
 'VLO',
 'VLTO',
 'VMC',
 'VNO',
 'VNT',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WU',
 'WY',
 'WYNN',
 'X',
 'XEL',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [34]:
esg_numeric = pd.read_csv('esg_2013to2023_numeric.csv', index_col=0)

In [35]:
## No 'FOX' and 'MSCI' in esg data
cols.remove('FOX')

cols.remove('MSCI')

In [36]:
esg_numeric = esg_numeric[cols]

In [38]:
df

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2014-01-02,36.933754,23.907925,99.924667,17.296654,34.181690,26.850000,NaN,31.369337,19.123333,67.879639,...,19.873646,64.282166,43.911213,20.875578,29.917576,44.408012,82.532112,53.180000,23.576159,30.057968
2014-01-03,37.400269,25.020357,102.783798,16.916718,34.392124,27.059999,NaN,31.705763,18.756666,68.105545,...,19.866432,64.127510,44.121799,21.015800,30.189079,44.685982,82.890045,53.580002,23.743145,29.770020
2014-01-06,37.216293,25.482304,101.800400,17.008968,33.136124,27.299999,NaN,32.124233,18.580000,67.386002,...,19.758064,64.224174,43.856281,21.191080,30.136526,44.650482,83.426872,53.400002,23.576159,29.704998
2014-01-07,37.748520,25.369171,103.056961,16.887325,33.201881,27.620001,NaN,31.878065,18.586666,68.205963,...,20.097597,65.132797,44.533817,21.366360,30.224121,45.277363,85.091141,53.950001,23.647726,29.816454
2014-01-08,38.366169,26.047947,102.255707,16.994270,33.116386,28.230000,NaN,32.165272,18.476667,68.733055,...,20.018131,64.920128,44.616199,21.173557,30.206596,45.259636,87.175903,53.910000,23.854462,29.482069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-22,147.449997,14.820000,85.760002,172.279999,178.449997,NaN,167.860001,110.570000,90.680000,337.500000,...,52.270000,113.489998,32.588768,16.779196,129.210007,136.229996,126.961258,291.440002,40.650002,168.899994
2024-03-25,145.559998,14.920000,84.250000,170.850006,178.529999,NaN,167.990005,110.010002,90.989998,333.820007,...,52.480000,114.650002,32.678326,17.252405,127.760002,134.619995,127.669930,297.940002,41.020000,167.809998
2024-03-26,144.410004,14.920000,84.250000,169.710007,179.190002,NaN,167.389999,111.500000,90.589996,336.390015,...,51.799999,113.790001,32.340000,17.420000,127.900002,134.800003,127.630005,291.380005,41.189999,165.669998
2024-03-27,147.369995,15.300000,85.320000,173.309998,180.350006,NaN,166.410004,113.480003,91.480003,340.940002,...,53.380001,114.970001,33.310001,17.750000,129.380005,137.320007,132.610001,299.160004,43.150002,168.509995
2024-03-28,145.509995,15.350000,85.089996,171.479996,182.100006,NaN,164.960007,113.660004,92.440002,346.609985,...,53.750000,116.239998,33.189999,17.900000,129.240005,138.649994,131.979996,301.440002,43.400002,169.210007

In [45]:
esg_numeric.index = pd.to_datetime(esg_numeric.index)

In [48]:
esg_numeric

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,7,NaN,2,5,NaN,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
2013-02-01,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
2013-03-01,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,2.0
2013-04-09,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
2013-05-01,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,6,3.0,5,4,4.0,NaN,3.0,5,NaN,NaN,...,7,4,5.0,6.0,7,5,6.0,5,4.0,7.0
2023-09-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,7,4,5.0,6.0,7,5,6.0,5,4.0,7.0
2023-10-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,7,4,5.0,6.0,7,5,6.0,5,4.0,7.0
2023-11-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,6,4,5.0,6.0,7,4,6.0,5,4.0,7.0
2023-12-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,6,4,5.0,6.0,7,4,6.0,5,4.0,7.0

In [41]:
df.index

DatetimeIndex(['2014-01-02', '2014-01-03', '2014-01-06', '2014-01-07',
               '2014-01-08', '2014-01-09', '2014-01-10', '2014-01-13',
               '2014-01-14', '2014-01-15',
               ...
               '2024-03-15', '2024-03-18', '2024-03-19', '2024-03-20',
               '2024-03-21', '2024-03-22', '2024-03-25', '2024-03-26',
               '2024-03-27', '2024-03-28'],
              dtype='datetime64[ns]', length=2577, freq=None)

In [56]:
esg_numeric.index

DatetimeIndex(['2013-01-01', '2013-02-01', '2013-03-01', '2013-04-09',
               '2013-05-01', '2013-06-01', '2013-07-01', '2013-08-01',
               '2013-09-01', '2013-10-01',
               ...
               '2023-03-01', '2023-04-01', '2023-05-01', '2023-06-01',
               '2023-07-01', '2023-08-01', '2023-09-01', '2023-10-01',
               '2023-11-01', '2023-12-01'],
              dtype='datetime64[ns]', name='Date', length=132, freq=None)

In [57]:
esg_numeric.to_excel('esg_2013to2023_numeric_614.xlsx', index=True)

In [49]:
df[cols]

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2014-01-02,36.933754,23.907925,99.924667,17.296654,34.181690,26.850000,NaN,31.369337,19.123333,67.879639,...,19.873646,64.282166,43.911213,20.875578,29.917576,44.408012,82.532112,53.180000,23.576159,30.057968
2014-01-03,37.400269,25.020357,102.783798,16.916718,34.392124,27.059999,NaN,31.705763,18.756666,68.105545,...,19.866432,64.127510,44.121799,21.015800,30.189079,44.685982,82.890045,53.580002,23.743145,29.770020
2014-01-06,37.216293,25.482304,101.800400,17.008968,33.136124,27.299999,NaN,32.124233,18.580000,67.386002,...,19.758064,64.224174,43.856281,21.191080,30.136526,44.650482,83.426872,53.400002,23.576159,29.704998
2014-01-07,37.748520,25.369171,103.056961,16.887325,33.201881,27.620001,NaN,31.878065,18.586666,68.205963,...,20.097597,65.132797,44.533817,21.366360,30.224121,45.277363,85.091141,53.950001,23.647726,29.816454
2014-01-08,38.366169,26.047947,102.255707,16.994270,33.116386,28.230000,NaN,32.165272,18.476667,68.733055,...,20.018131,64.920128,44.616199,21.173557,30.206596,45.259636,87.175903,53.910000,23.854462,29.482069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-22,147.449997,14.820000,85.760002,172.279999,178.449997,NaN,167.860001,110.570000,90.680000,337.500000,...,52.270000,113.489998,32.588768,16.779196,129.210007,136.229996,126.961258,291.440002,40.650002,168.899994
2024-03-25,145.559998,14.920000,84.250000,170.850006,178.529999,NaN,167.990005,110.010002,90.989998,333.820007,...,52.480000,114.650002,32.678326,17.252405,127.760002,134.619995,127.669930,297.940002,41.020000,167.809998
2024-03-26,144.410004,14.920000,84.250000,169.710007,179.190002,NaN,167.389999,111.500000,90.589996,336.390015,...,51.799999,113.790001,32.340000,17.420000,127.900002,134.800003,127.630005,291.380005,41.189999,165.669998
2024-03-27,147.369995,15.300000,85.320000,173.309998,180.350006,NaN,166.410004,113.480003,91.480003,340.940002,...,53.380001,114.970001,33.310001,17.750000,129.380005,137.320007,132.610001,299.160004,43.150002,168.509995
2024-03-28,145.509995,15.350000,85.089996,171.479996,182.100006,NaN,164.960007,113.660004,92.440002,346.609985,...,53.750000,116.239998,33.189999,17.900000,129.240005,138.649994,131.979996,301.440002,43.400002,169.210007

In [52]:
df = df[cols]

In [53]:
df

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2014-01-02,36.933754,23.907925,99.924667,17.296654,34.181690,26.850000,NaN,31.369337,19.123333,67.879639,...,19.873646,64.282166,43.911213,20.875578,29.917576,44.408012,82.532112,53.180000,23.576159,30.057968
2014-01-03,37.400269,25.020357,102.783798,16.916718,34.392124,27.059999,NaN,31.705763,18.756666,68.105545,...,19.866432,64.127510,44.121799,21.015800,30.189079,44.685982,82.890045,53.580002,23.743145,29.770020
2014-01-06,37.216293,25.482304,101.800400,17.008968,33.136124,27.299999,NaN,32.124233,18.580000,67.386002,...,19.758064,64.224174,43.856281,21.191080,30.136526,44.650482,83.426872,53.400002,23.576159,29.704998
2014-01-07,37.748520,25.369171,103.056961,16.887325,33.201881,27.620001,NaN,31.878065,18.586666,68.205963,...,20.097597,65.132797,44.533817,21.366360,30.224121,45.277363,85.091141,53.950001,23.647726,29.816454
2014-01-08,38.366169,26.047947,102.255707,16.994270,33.116386,28.230000,NaN,32.165272,18.476667,68.733055,...,20.018131,64.920128,44.616199,21.173557,30.206596,45.259636,87.175903,53.910000,23.854462,29.482069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-22,147.449997,14.820000,85.760002,172.279999,178.449997,NaN,167.860001,110.570000,90.680000,337.500000,...,52.270000,113.489998,32.588768,16.779196,129.210007,136.229996,126.961258,291.440002,40.650002,168.899994
2024-03-25,145.559998,14.920000,84.250000,170.850006,178.529999,NaN,167.990005,110.010002,90.989998,333.820007,...,52.480000,114.650002,32.678326,17.252405,127.760002,134.619995,127.669930,297.940002,41.020000,167.809998
2024-03-26,144.410004,14.920000,84.250000,169.710007,179.190002,NaN,167.389999,111.500000,90.589996,336.390015,...,51.799999,113.790001,32.340000,17.420000,127.900002,134.800003,127.630005,291.380005,41.189999,165.669998
2024-03-27,147.369995,15.300000,85.320000,173.309998,180.350006,NaN,166.410004,113.480003,91.480003,340.940002,...,53.380001,114.970001,33.310001,17.750000,129.380005,137.320007,132.610001,299.160004,43.150002,168.509995
2024-03-28,145.509995,15.350000,85.089996,171.479996,182.100006,NaN,164.960007,113.660004,92.440002,346.609985,...,53.750000,116.239998,33.189999,17.900000,129.240005,138.649994,131.979996,301.440002,43.400002,169.210007

In [16]:
df['Date'] = df.index

/var/folders/g1/mwvmvwd500q1llzmnkpcvpnc0000gn/T/ipykernel_25487/45558202.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = df.index

In [17]:
df

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS,Date
2014-01-02,36.933754,23.907925,99.924667,17.296654,34.181690,26.850000,NaN,31.369337,19.123333,67.879639,...,64.282166,43.911213,20.875578,29.917576,44.408012,82.532112,53.180000,23.576159,30.057968,2014-01-02
2014-01-03,37.400269,25.020357,102.783798,16.916718,34.392124,27.059999,NaN,31.705763,18.756666,68.105545,...,64.127510,44.121799,21.015800,30.189079,44.685982,82.890045,53.580002,23.743145,29.770020,2014-01-03
2014-01-06,37.216293,25.482304,101.800400,17.008968,33.136124,27.299999,NaN,32.124233,18.580000,67.386002,...,64.224174,43.856281,21.191080,30.136526,44.650482,83.426872,53.400002,23.576159,29.704998,2014-01-06
2014-01-07,37.748520,25.369171,103.056961,16.887325,33.201881,27.620001,NaN,31.878065,18.586666,68.205963,...,65.132797,44.533817,21.366360,30.224121,45.277363,85.091141,53.950001,23.647726,29.816454,2014-01-07
2014-01-08,38.366169,26.047947,102.255707,16.994270,33.116386,28.230000,NaN,32.165272,18.476667,68.733055,...,64.920128,44.616199,21.173557,30.206596,45.259636,87.175903,53.910000,23.854462,29.482069,2014-01-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-22,147.449997,14.820000,85.760002,172.279999,178.449997,NaN,167.860001,110.570000,90.680000,337.500000,...,113.489998,32.588768,16.779196,129.210007,136.229996,126.961258,291.440002,40.650002,168.899994,2024-03-22
2024-03-25,145.559998,14.920000,84.250000,170.850006,178.529999,NaN,167.990005,110.010002,90.989998,333.820007,...,114.650002,32.678326,17.252405,127.760002,134.619995,127.669930,297.940002,41.020000,167.809998,2024-03-25
2024-03-26,144.410004,14.920000,84.250000,169.710007,179.190002,NaN,167.389999,111.500000,90.589996,336.390015,...,113.790001,32.340000,17.420000,127.900002,134.800003,127.630005,291.380005,41.189999,165.669998,2024-03-26
2024-03-27,147.369995,15.300000,85.320000,173.309998,180.350006,NaN,166.410004,113.480003,91.480003,340.940002,...,114.970001,33.310001,17.750000,129.380005,137.320007,132.610001,299.160004,43.150002,168.509995,2024-03-27
2024-03-28,145.509995,15.350000,85.089996,171.479996,182.100006,NaN,164.960007,113.660004,92.440002,346.609985,...,116.239998,33.189999,17.900000,129.240005,138.649994,131.979996,301.440002,43.400002,169.210007,2024-03-28

In [19]:
cols.append( 'Date' )

In [20]:
cols = cols[-1:] + cols[:-1]

In [21]:
cols

['Date',
 'A',
 'AAL',
 'AAP',
 'AAPL',
 'ABBV',
 'ABMD',
 'ABNB',
 'ABT',
 'ACGL',
 'ACN',
 'ADBE',
 'ADI',
 'ADM',
 'ADP',
 'ADSK',
 'ADT',
 'AEE',
 'AEP',
 'AES',
 'AET',
 'AFL',
 'AIG',
 'AIV',
 'AIZ',
 'AJG',
 'AKAM',
 'ALB',
 'ALGN',
 'ALK',
 'ALL',
 'ALLE',
 'ALTR',
 'AMAT',
 'AMCR',
 'AMD',
 'AME',
 'AMG',
 'AMGN',
 'AMP',
 'AMT',
 'AMZN',
 'AN',
 'ANDV',
 'ANET',
 'ANSS',
 'AON',
 'AOS',
 'APA',
 'APD',
 'APH',
 'APTV',
 'ARE',
 'ATI',
 'ATO',
 'AVB',
 'AVGO',
 'AVY',
 'AWK',
 'AXON',
 'AXP',
 'AYI',
 'AZO',
 'BA',
 'BAC',
 'BALL',
 'BAX',
 'BBWI',
 'BBY',
 'BDX',
 'BEAM',
 'BEN',
 'BG',
 'BHF',
 'BIIB',
 'BIO',
 'BK',
 'BKNG',
 'BKR',
 'BLDR',
 'BLK',
 'BMS',
 'BMY',
 'BR',
 'BRO',
 'BSX',
 'BWA',
 'BX',
 'BXP',
 'C',
 'CA',
 'CAG',
 'CAH',
 'CARR',
 'CAT',
 'CB',
 'CBOE',
 'CBRE',
 'CCE',
 'CCEP',
 'CCI',
 'CCL',
 'CDAY',
 'CDNS',
 'CDW',
 'CE',
 'CEG',
 'CF',
 'CFG',
 'CHD',
 'CHK',
 'CHRW',
 'CHTR',
 'CI',
 'CINF',
 'CL',
 'CLF',
 'CLX',
 'CMA',
 'CMCSA',
 'CME',
 'CMG',
 'CMI',
 'CMS',
 'CNC',
 'CNP',
 'CNX',
 'COF',
 'COL',
 'COO',
 'COP',
 'COR',
 'COST',
 'COTY',
 'COV',
 'CPB',
 'CPRI',
 'CPRT',
 'CPT',
 'CRL',
 'CRM',
 'CSCO',
 'CSGP',
 'CSRA',
 'CSX',
 'CTAS',
 'CTLT',
 'CTRA',
 'CTSH',
 'CTVA',
 'CVS',
 'CVX',
 'CZR',
 'D',
 'DAL',
 'DD',
 'DE',
 'DFS',
 'DG',
 'DGX',
 'DHI',
 'DHR',
 'DIS',
 'DLR',
 'DLTR',
 'DNB',
 'DO',
 'DOV',
 'DOW',
 'DPZ',
 'DRI',
 'DTE',
 'DUK',
 'DVA',
 'DVN',
 'DXC',
 'DXCM',
 'EA',
 'EBAY',
 'ECL',
 'ED',
 'EFX',
 'EG',
 'EIX',
 'EL',
 'ELV',
 'EMC',
 'EMN',
 'EMR',
 'ENPH',
 'EOG',
 'EPAM',
 'EQIX',
 'EQR',
 'EQT',
 'ES',
 'ESRX',
 'ESS',
 'ETN',
 'ETR',
 'ETSY',
 'EVHC',
 'EVRG',
 'EW',
 'EXC',
 'EXPD',
 'EXPE',
 'EXR',
 'F',
 'FANG',
 'FAST',
 'FCPT',
 'FCX',
 'FDS',
 'FDX',
 'FE',
 'FFIV',
 'FI',
 'FICO',
 'FIS',
 'FISV',
 'FITB',
 'FL',
 'FLR',
 'FLS',
 'FLT',
 'FMC',
 'FOSL',
 'FOXA',
 'FRT',
 'FSLR',
 'FTI',
 'FTNT',
 'FTV',
 'GAS',
 'GD',
 'GE',
 'GEHC',
 'GEN',
 'GHC',
 'GILD',
 'GIS',
 'GL',
 'GLW',
 'GM',
 'GME',
 'GNRC',
 'GNW',
 'GOOG',
 'GOOGL',
 'GPC',
 'GPN',
 'GPS',
 'GRMN',
 'GS',
 'GT',
 'GWW',
 'HAL',
 'HAR',
 'HAS',
 'HBAN',
 'HBI',
 'HCA',
 'HCP',
 'HD',
 'HES',
 'HIG',
 'HII',
 'HLT',
 'HOG',
 'HOLX',
 'HON',
 'HOT',
 'HP',
 'HPE',
 'HPQ',
 'HRB',
 'HRL',
 'HSIC',
 'HST',
 'HSY',
 'HUBB',
 'HUM',
 'HWM',
 'IBM',
 'ICE',
 'IDXX',
 'IEX',
 'IFF',
 'IGT',
 'ILMN',
 'INCY',
 'INTC',
 'INTU',
 'INVH',
 'IP',
 'IPG',
 'IPGP',
 'IQV',
 'IR',
 'IRM',
 'ISRG',
 'IT',
 'ITW',
 'IVZ',
 'J',
 'JBHT',
 'JBL',
 'JCI',
 'JEF',
 'JKHY',
 'JNJ',
 'JNPR',
 'JPM',
 'JWN',
 'K',
 'KDP',
 'KEY',
 'KEYS',
 'KHC',
 'KIM',
 'KLAC',
 'KMB',
 'KMI',
 'KMX',
 'KO',
 'KR',
 'KSS',
 'KVUE',
 'L',
 'LDOS',
 'LEG',
 'LEN',
 'LH',
 'LHX',
 'LIFE',
 'LIN',
 'LKQ',
 'LLY',
 'LMT',
 'LNC',
 'LNT',
 'LOW',
 'LRCX',
 'LULU',
 'LUMN',
 'LUV',
 'LVS',
 'LW',
 'LYB',
 'LYV',
 'M',
 'MA',
 'MAA',
 'MAC',
 'MAR',
 'MAS',
 'MAT',
 'MCD',
 'MCHP',
 'MCK',
 'MCO',
 'MDLZ',
 'MDT',
 'MET',
 'META',
 'MGM',
 'MHK',
 'MKC',
 'MKTX',
 'MLM',
 'MMC',
 'MMM',
 'MNST',
 'MO',
 'MOH',
 'MOS',
 'MPC',
 'MPWR',
 'MRK',
 'MRNA',
 'MRO',
 'MS',
 'MSFT',
 'MSI',
 'MTB',
 'MTCH',
 'MTD',
 'MU',
 'MUR',
 'NAVI',
 'NBR',
 'NCLH',
 'NDAQ',
 'NDSN',
 'NE',
 'NEE',
 'NEM',
 'NFLX',
 'NFX',
 'NI',
 'NKE',
 'NKTR',
 'NOC',
 'NOV',
 'NOW',
 'NRG',
 'NSC',
 'NTAP',
 'NTRS',
 'NUE',
 'NVDA',
 'NVR',
 'NWL',
 'NWS',
 'NWSA',
 'NXPI',
 'O',
 'ODFL',
 'OGN',
 'OI',
 'OKE',
 'OMC',
 'ON',
 'ORCL',
 'ORLY',
 'OTIS',
 'OXY',
 'PANW',
 'PARA',
 'PAYC',
 'PAYX',
 'PBI',
 'PCAR',
 'PCG',
 'PCL',
 'PCP',
 'PDCO',
 'PEAK',
 'PEG',
 'PENN',
 'PEP',
 'PETM',
 'PFE',
 'PFG',
 'PG',
 'PGR',
 'PH',
 'PHM',
 'PKG',
 'PLD',
 'PLL',
 'PM',
 'PNC',
 'PNR',
 'PNW',
 'PODD',
 'POM',
 'POOL',
 'PPG',
 'PPL',
 'PRGO',
 'PRU',
 'PSA',
 'PSX',
 'PTC',
 'PVH',
 'PWR',
 'PX',
 'PXD',
 'PYPL',
 'QCOM',
 'QRVO',
 'R',
 'RCL',
 'REG',
 'REGN',
 'RF',
 'RHI',
 'RIG',
 'RJF',
 'RL',
 'RMD',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RRC',
 'RSG',
 'RTX',
 'RVTY',
 'SBAC',
 'SBNY',
 'SBUX',
 'SCG',
 'SCHW',
 'SE',
 'SEDG',
 'SEE',
 'SHW',
 'SIG',
 'SJM',
 'SLB',
 'SLG',
 'SLM',
 'SNA',
 'SNI',
 'SNPS',
 'SO',
 'SPG',
 'SPGI',
 'SRCL',
 'SRE',
 'STE',
 'STI',
 'STLD',
 'STT',
 'STX',
 'STZ',
 'SWK',
 'SWKS',
 'SWN',
 'SYF',
 'SYK',
 'SYY',
 'T',
 'TAP',
 'TDC',
 'TDG',
 'TDY',
 'TECH',
 'TEG',
 'TEL',
 'TER',
 'TFC',
 'TFX',
 'TGNA',
 'TGT',
 'THC',
 'TJX',
 'TMO',
 'TMUS',
 'TPR',
 'TRGP',
 'TRIP',
 'TRMB',
 'TROW',
 'TRV',
 'TSCO',
 'TSLA',
 'TSN',
 'TT',
 'TTWO',
 'TWX',
 'TXN',
 'TXT',
 'TYL',
 'UA',
 'UAA',
 'UAL',
 'UBER',
 'UDR',
 'UHS',
 'ULTA',
 'UNH',
 'UNM',
 'UNP',
 'UPS',
 'URBN',
 'URI',
 'USB',
 'V',
 'VFC',
 'VICI',
 'VLO',
 'VLTO',
 'VMC',
 'VNO',
 'VNT',
 'VRSK',
 'VRSN',
 'VRTX',
 'VTR',
 'VTRS',
 'VZ',
 'WAB',
 'WAT',
 'WBA',
 'WBD',
 'WDC',
 'WEC',
 'WELL',
 'WFC',
 'WHR',
 'WM',
 'WMB',
 'WMT',
 'WRB',
 'WRK',
 'WST',
 'WTW',
 'WU',
 'WY',
 'WYNN',
 'X',
 'XEL',
 'XOM',
 'XRAY',
 'XRX',
 'XYL',
 'YUM',
 'ZBH',
 'ZBRA',
 'ZION',
 'ZTS']

In [22]:
# Reordering
df  = df[cols]

In [23]:
df

,Date,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2014-01-02,2014-01-02,36.933754,23.907925,99.924667,17.296654,34.181690,26.850000,NaN,31.369337,19.123333,...,19.873646,64.282166,43.911213,20.875578,29.917576,44.408012,82.532112,53.180000,23.576159,30.057968
2014-01-03,2014-01-03,37.400269,25.020357,102.783798,16.916718,34.392124,27.059999,NaN,31.705763,18.756666,...,19.866432,64.127510,44.121799,21.015800,30.189079,44.685982,82.890045,53.580002,23.743145,29.770020
2014-01-06,2014-01-06,37.216293,25.482304,101.800400,17.008968,33.136124,27.299999,NaN,32.124233,18.580000,...,19.758064,64.224174,43.856281,21.191080,30.136526,44.650482,83.426872,53.400002,23.576159,29.704998
2014-01-07,2014-01-07,37.748520,25.369171,103.056961,16.887325,33.201881,27.620001,NaN,31.878065,18.586666,...,20.097597,65.132797,44.533817,21.366360,30.224121,45.277363,85.091141,53.950001,23.647726,29.816454
2014-01-08,2014-01-08,38.366169,26.047947,102.255707,16.994270,33.116386,28.230000,NaN,32.165272,18.476667,...,20.018131,64.920128,44.616199,21.173557,30.206596,45.259636,87.175903,53.910000,23.854462,29.482069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-22,2024-03-22,147.449997,14.820000,85.760002,172.279999,178.449997,NaN,167.860001,110.570000,90.680000,...,52.270000,113.489998,32.588768,16.779196,129.210007,136.229996,126.961258,291.440002,40.650002,168.899994
2024-03-25,2024-03-25,145.559998,14.920000,84.250000,170.850006,178.529999,NaN,167.990005,110.010002,90.989998,...,52.480000,114.650002,32.678326,17.252405,127.760002,134.619995,127.669930,297.940002,41.020000,167.809998
2024-03-26,2024-03-26,144.410004,14.920000,84.250000,169.710007,179.190002,NaN,167.389999,111.500000,90.589996,...,51.799999,113.790001,32.340000,17.420000,127.900002,134.800003,127.630005,291.380005,41.189999,165.669998
2024-03-27,2024-03-27,147.369995,15.300000,85.320000,173.309998,180.350006,NaN,166.410004,113.480003,91.480003,...,53.380001,114.970001,33.310001,17.750000,129.380005,137.320007,132.610001,299.160004,43.150002,168.509995
2024-03-28,2024-03-28,145.509995,15.350000,85.089996,171.479996,182.100006,NaN,164.960007,113.660004,92.440002,...,53.750000,116.239998,33.189999,17.900000,129.240005,138.649994,131.979996,301.440002,43.400002,169.210007

In [54]:
df.to_excel('614 price data.xlsx')

In [58]:
esg_numeric

,A,AAL,AAP,AAPL,ABBV,ABMD,ABNB,ABT,ACGL,ACN,...,XEL,XOM,XRAY,XRX,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,7,NaN,2,5,NaN,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
2013-02-01,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
2013-03-01,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,2.0
2013-04-09,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
2013-05-01,7,NaN,2,5,2.0,3.0,NaN,2,NaN,NaN,...,3,3,3.0,5.0,5,1,NaN,3,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08-01,6,3.0,5,4,4.0,NaN,3.0,5,NaN,NaN,...,7,4,5.0,6.0,7,5,6.0,5,4.0,7.0
2023-09-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,7,4,5.0,6.0,7,5,6.0,5,4.0,7.0
2023-10-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,7,4,5.0,6.0,7,5,6.0,5,4.0,7.0
2023-11-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,6,4,5.0,6.0,7,4,6.0,5,4.0,7.0
2023-12-01,6,3.0,5,4,4.0,NaN,3.0,4,NaN,NaN,...,6,4,5.0,6.0,7,4,6.0,5,4.0,7.0

In [62]:
esg_numeric.iloc[-1]

A       6.0
AAL     3.0
AAP     5.0
AAPL    4.0
ABBV    4.0
       ...
YUM     4.0
ZBH     6.0
ZBRA    5.0
ZION    4.0
ZTS     7.0
Name: 2023-12-01 00:00:00, Length: 614, dtype: float64